@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}

.our-team-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff7f6;
  flex-direction: column;
  width: 100%;
  height: 35rem;
  margin-top: 2rem;
}
.our-team-div {
  display: flex;
  flex-direction: column;
  margin-right: 23rem;
  margin-bottom: 2rem;
  flex-grow: 0;
  max-width: 100%;
  gap: 10px;
}
.our-team {
  display: flex;
  color: #121212;
  font-size: 45px;
  font-family: Monserat-ligth, sans-serif;
}
.our-team-text {
  font-family: Monserat-ligth, sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
.description-main-div {
  display: flex;
  max-width: 2000px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.left-description-div {
  display: flex;
  margin-right: 52rem;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.left-img {
  width: 15rem;
  height: 15rem;
  border-radius: 6px 6px 6px 6px;
}
.nadia-img {
  display: flex;
  color: #121212;
  font-size: 30px;
  font-family: Monserat-ligth, sans-serif;
}
.container-text-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.founder-stylist-div {
  color: #121212;
  font-size: 18px;
  font-family: Monserat-ligth, sans-serif;
}
.left-text-div {
  display: flex;

  font-family: Monserat-ligth, sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  max-width: 40%;
  line-height: 1.7;
}
