@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
.description-main-div {
  display: flex;
  max-width: 1200px;
  margin-left: 5.5rem;
  margin-bottom: 5rem;
  flex-direction: row;
}
.our-team-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff7f6;
  flex-direction: column;
  width: 100%;
  height: 35rem;
  margin-top: 2rem;
}
.our-team-div {
  display: flex;
  flex-direction: column;
  margin-right: 25rem;
  margin-bottom: 2rem;
  flex-grow: 0;
  max-width: 100%;
  gap: 10px;
}
.our-team {
  display: flex;
  color: #121212;
  font-size: 45px;
  font-family: Monserat-ligth, sans-serif;
}
.our-team-text {
  font-family: Monserat-ligth, sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
.left-description-div {
  display: flex;
  justify-content: start;
  align-items: start;
}
.left-img {
  width: 15rem;
  height: 15rem;
  border-radius: 6px 6px 6px 6px;
}
.nadia-img {
  display: flex;
  color: #121212;
  margin-left: 2rem;
  font-size: 30px;
  font-family: Monserat-ligth, sans-serif;
}
.container-text-div {
  -display: flex;
  justify-content: center;
  text-align: left;
  max-width: 200rem;
  max-height: 10rem;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.founder-stylist-div {
  color: #212121;
  margin-left: 2rem;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: Monserat-regular, sans-serif;
}
.left-text-div {
  display: flex;
  padding-left: 30px;
  font-family: Monserat-ligth, sans-serif;
  color: #4d4d4d;
  font-size: 18px;

  line-height: 1.7;
}
.right-description-div {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 2rem;
}
