@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}

.main-container-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 4rem;
}
.main-mission-statement-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1200px;
  margin-left: 0 auto;
}
.mission-statement-container {
  font-family: Monserat-ligth, sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 10px;
  padding-top: 10px;
  margin-left: 67px;
  width: 75%;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  gap: 10px;
}
.header-mission-statement {
  display: flex;
  color: #121212;
  font-size: 45px;
  font-family: Monserat-ligth, sans-serif;
}
.right-image {
  border-radius: 6px 6px 6px 6px;
}
