@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserat-Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Bold.ttf");
}

.main-div-customers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  padding-left: 10rem;
  align-items: center;
  gap: 10px;
  flex-basis: auto;
  margin-top: 70px;
  padding-top: 50px;
  padding-bottom: 70px;
}
.left-ratings-div {
  width: 308px;
}
.middle-rating-div {
  width: 308px;
}
.left-main-div-ratings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-div-customers {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.heading-title-left {
  color: #212121;
  margin-bottom: 1rem;
  font-size: 45px;
  font-family: Monserat-regular, sans-serif;
}
.heading-stars-ratings-left {
  color: #f0ad4e;
  font-size: 15px;
  margin-bottom: 1rem;
  font-weight: 400;
}
.ratings-div {
  font-family: Monserat-Poppins, sans-serif;
  font-size: 15px;
  margin-bottom: 1rem;
  color: #212121;
}
.text-customrs-div {
  font-family: Monserat-medium, sans-serif;
  color: #212121;
  margin-bottom: 2rem;
  font-size: 30px;
}
.John-simpson-header {
  font-family: Monserat-regular, sans-serif;
  font-size: 18px;
  margin-bottom: 1.5rem;
  color: #212121;
}
.text-editor-div {
  font-family: Monserat-ligth, sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  width: 500px;
  line-height: 1.7;
  text-align: left;
}
