@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}

.home-page-jumba {
  background-color: #fff7f6;
  max-height: 630px;
  display: flex;
  justify-content: center;
}
.home-page-inside-jumba {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 1140px;
  height: 630px;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff7f6;
}

.jumba-left {
  display: flex;
  flex-direction: column;

  margin-left: 16rem;
  justify-content: flex-start;
  gap: 30px;
}
.jumba-left h1 {
  font-size: 60px;
  font-family: Monserat-semi-bold, sans-serif;
  width: 700px;
  color: #212121;
}
.jumba-left-p {
  font-size: 18px;
  line-height: 1.6;
  width: 600px;
  font-family: Monserat-ligth, sans-serif;
}

.jumba-right-image-div {
  width: 480px;
  height: 480px;
}

.jumba-right-image {
  border-radius: 5px;
}
.jumba-right {
  margin-right: 10rem;
}
.btn-all-services-div {
  display: flex;
  justify-content: flex-start;
}
.anchor-all-services {
  display: inline-block;
  height: 1;
  background-color: #ee6043;
  font-size: 15px;
  padding: 18px 24px;
  border-radius: 5px;
  color: #fff;
  fill: #fff;
  text-align: center;
  transition: all 0.3s;
}
.span-all-services {
  font-family: Monserat-regular, sans-serif;
}
