@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}

.home-page-jumba {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 11.5rem;
  background-color: #fff7f6;
  max-width: 1000%;
  max-height: 630px;
}
.home-page-inside-jumba {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff7f6;
}

.jumba-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.jumba-left h1 {
  font-size: 60px;
  font-family: Monserat-semi-bold, sans-serif;
  width: 670px;
  color: #212121;
}
.jumba-left-p {
  font-size: 18px;
  line-height: 1.6;
  width: 600px;
  font-family: Monserat-ligth, sans-serif;
}
.jumba-right-image-div {
  height: 480px;
  width: 480px;
}

.jumba-right-image {
  border-radius: 5px;
}
.jumba-right {
  margin-right: 8rem;
}
.btn-all-services-div {
  display: flex;
  justify-content: flex-start;
}
.anchor-all-services {
  display: inline-block;
  height: 1;
  cursor: pointer;
  background-color: #ee6043;
  font-size: 15px;
  padding: 20px 24px;
  border-radius: 5px;
  color: #fff;
  fill: #fff;
  text-align: center;
  transition: all 0.3s;
}
.span-all-services {
  font-family: Monserat-regular, sans-serif;
}
.main-container-services-div {
  display: flex;
  background-color: #fff7f6;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  margin-left: 10rem;
  margin: 0 auto;
}
.heading-container-home {
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
  margin: 0 auto;
}
.heading-title-home-page {
  display: flex;
  flex-direction: column;
  margin-right: 45.5rem;
  margin-left: 3.5rem;
  font-size: 45px;
  font-family: Monserat-ligth, sans-serif;
}
