@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}

.main-div-container-features-benifts {
  width: 100%;
  height: 50%;
  background-color: #fff7f6;
  margin-left: 3.5rem;
}
.features-benifts-main-div {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 1212px;
  position: relative;
}
.features-benifts-main-div span {
  margin: 0 1px;
}
.features-benifts-main-div::before,
.features-benifts-main-div::after {
  content: "";
  flex: 1;
  padding: 0;
  border-top: 1px solid black;
  margin: 0 15px;
}
.text-features-benifits {
  font-size: 15px;
  color: #4d4d4d;
  font-family: Monserat-regular, sans-serif;
}
.circle {
  width: 15px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 5px;
  height: 5px;
  background-color: #212121;
  border-radius: 50%;
}
.main-div-featuers {
  display: flex;
  background-color: #fff7f6;
  height: 100%;
  flex-grow: 1;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-container-features-benifts {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  background-color: #fff7f6;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0px;
}
.header-div-features {
  display: flex;
  bottom: 8rem;
  padding-left: 10rem;
}
.header-featuers {
  display: flex;
  font-size: 30px;
  font-family: Monserat-ligth, sans-serif;
  bottom: 8rem;
  padding-left: 10rem;
  align-items: center;
  justify-content: center;
}
.section {
  justify-content: flex-start;
  justify-content: space-around;
  background-color: #fff7f6;
  height: 405px;
  width: 408px;
  padding-left: 5.4rem;
}
.image-herson-rodriguez {
  border-radius: 6px 6px 6px 6px;
  width: 346px;
  height: 346px;
}
.circle-dot-text-div {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
}
.header-features {
  color: #212121;
  font-family: Monserat-ligth, sans-serif;
  font-size: 30px;
  margin-bottom: 1.5rem;
}
.span-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  font-family: Monserat-ligth, sans-serif;
  color: #4d4d4d;
  margin-left: 8px;
}
.our-team-main-div-home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  width: 100%;
  height: 35rem;
  margin-top: 4rem;
}
