@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
.home-page-jumba {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 11.5rem;
  background-color: #fff7f6;
  max-width: 1000%;
  max-height: 630px;
}
.home-page-inside-jumba {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fff7f6;
}
.jumba-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
.jumba-left h1 {
  font-size: 60px;
  font-family: Monserat-semi-bold, sans-serif;
  width: 670px;
  color: #212121;
}
.jumba-left-p {
  font-size: 18px;
  line-height: 1.6;
  width: 600px;
  font-family: Monserat-ligth, sans-serif;
}
.jumba-right-image-div {
  height: 480px;
  width: 480px;
}
.jumba-right-image {
  border-radius: 5px;
}
.jumba-right {
  margin-right: 8rem;
}
.btn-all-services-div {
  display: flex;
  justify-content: flex-start;
}
.anchor-all-services {
  display: inline-block;
  height: 1;
  text-decoration: none;
  cursor: pointer;
  background-color: #ee6043;
  font-size: 15px;
  padding: 20px 24px;
  border-radius: 5px;
  color: #fff;
  fill: #fff;
  text-align: center;
  transition: all 0.3s;
}
.span-all-services {
  font-family: Monserat-medium, sans-serif;
}
.anchor-all-services:hover {
  background-color: #e65032;
}
.main-container-services-div {
  display: flex;
  background-color: #fff7f6;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  margin-left: 10rem;
  margin: 0 auto;
}
.heading-container-home {
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
  margin: 0 auto;
}
.heading-title-home-page {
  display: flex;
  flex-direction: column;
  margin-right: 51.9rem;
  font-size: 45px;
  font-family: Monserat-ligth, sans-serif;
}
.flame-1 {
  background-color: rgba(241, 241, 235, 0.568) !important;
  height: 10px;
  width: 10px;
  border-radius: 90%;
  border-bottom: none;
  transform: translateX(50%);
  box-shadow: 3px 10px 20px 20px #ede6e5ae;
  animation: flicker 0.4s infinite ease-in-out;
  position: relative;
  top: -220px;
  left: 350px;
}
.flame-2 {
  background-color: rgba(243, 243, 230, 0.568) !important;
  height: 10px;
  width: 10px;
  border-radius: 90%;
  border-bottom: none;
  transform: translateX(50%);
  box-shadow: 3px 20px 20px 20px #ede6e5ae;
  animation: flicker 0.35s infinite ease-in-out;
  position: relative;
  top: -180px;
  left: 88px;
}
.flame-3 {
  background-color: rgba(240, 240, 230, 0.568) !important;
  height: 10px;
  width: 10px;
  border-radius: 90%;
  border-bottom: none;
  transform: translateX(60%);
  box-shadow: 10px 20px 40px 20px rgba(221, 219, 197, 0.875);
  animation: flicker 0.32s infinite ease-in-out;
  position: relative;
  top: -270px;
  left: 88px;
}
@keyframes flicker {
  0% {
    opacity: 0.4;
    transform: translateY(0) scale(0.6);
  }
  20% {
    opacity: 0.4;
    transform: translateY(-5px) scale(0.5);
  }
  30% {
    opacity: 0.3;
    transform: translateY(-4px) scale(0.5);
  }
  40% {
    opacity: 0.5;
    transform: translateY(-3px) scale(0.5);
  }
  50% {
    opacity: 0.6;
    transform: translateY(-2px) scale(0.6);
  }

  100% {
    opacity: 0.4;
    transform: translateY(-5px) scale(0.7);
  }
}
