@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserat-Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Bold.ttf");
}
.main-div-customers {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  align-self: stretch;
  align-items: stretch;
  gap: 10px;
  transition: 0.3s;
  margin-top: 70px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 050px;
  padding-right: 0px;
  padding-bottom: 70px;
}
.left-main-div-ratings {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.heading-title-left {
  color: #212121;
  font-size: 45px;
  font-family: Monserat-regular, sans-serif;
}
.heading-stars-ratings-left {
  color: #f0ad4e;
  font-size: 15px;
  font-weight: 400;
}
.ratings-div {
  font-family: Monserat-Poppins, sans-serif;
  font-size: 15px;
  color: #212121;
}
.text-customrs-div {
  font-family: Monserat-medium, sans-serif;
  color: #212121;
  font-size: 30px;
}
.John-simpson-header {
  font-family: Monserat-regular, sans-serif;
  font-size: 18px;
  color: #212121;
}
