@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}

.main-div-container-features-benifts {
  width: 100%;
  height: 50%;
  background-color: #fff7f6;
  margin-left: 3.5rem;
}

.features-benifts-main-div {
  display: flex;
  align-items: center;
  margin: 0 auto;

  width: 1212px; /* Set a fixed width for the container */
  position: relative;
}

.features-benifts-main-div span {
  margin: 0 1px; /* Equal spacing between spans and text */
  /* background-color: #fff7f6; */
}

.features-benifts-main-div::before,
.features-benifts-main-div::after {
  content: "";
  flex: 1;
  padding: 0;
  border-top: 1px solid black; /* Adjust the color and thickness of the line as needed */
  margin: 0 15px; /* Equal spacing between the lines and the text */
}

.text-features-benifits {
  font-size: 15px;
  color: #4d4d4d;
  font-family: Monserat-regular, sans-serif; /* Specify the font family */
}
.circle {
  margin-left: 5rem;
  width: 15px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: #212121;
  border-radius: 50%;
}
.main-div-featuers {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 450px;
}
