@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
.main-navbar-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1650px;
  justify-content: center;
  align-self: center;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Monserat-ligth, sans-serif;
  align-items: center;
  margin-left: 80px;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-container-div-left {
  display: flex;
  flex-direction: row;
}
.navbar-container-div-right {
  display: flex;
  flex-direction: row;
}
.left-navbar-name-div {
  flex-grow: 0;
  flex-shrink: 0;
}

.left-navbar-name {
  font-family: Monserat-regular;
  font-size: 18px;
  color: #212121;
  max-width: 100%;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 50px;
}

.navLink {
  text-decoration: none;
}
.nav-btn-div {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.btn-signup {
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px 6px 6px 6px;
  padding: 10px 40px 10px 40px;
  font-family: Monserat-ligth, sans-serif;
  background-color: #ee6043;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.btn-login {
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px 6px 6px 6px;
  padding: 10px 40px 10px 40px;
  font-family: Monserat-ligth, sans-serif;
  background-color: #ee6043;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
