@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
.main-navbar-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1650px;
  justify-content: center;
  align-self: center;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Monserat-ligth, sans-serif;
  align-items: center;
  margin-left: 80px;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-container-div-left {
  display: flex;
  flex-direction: row;
}
.navbar-container-div-right {
  display: flex;
  flex-direction: row;
}
.left-navbar-name-div {
  flex-grow: 0;
  flex-shrink: 0;
}
.left-navbar-name {
  font-family: Monserat-regular;
  font-size: 18px;
  color: #212121;
  max-width: 100%;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 50px;
}
.navLink {
  text-decoration: none;
}
.nav-btn-div {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.current-user-div {
  margin-top: 3px;
}
.btn-signup {
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px 6px 6px 6px;
  padding: 10px 40px 10px 40px;
  font-family: Monserat-medium, sans-serif;
  background-color: #ee6043;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.btn-login {
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px 6px 6px 6px;
  padding: 10px 40px 10px 40px;
  font-family: Monserat-medium, sans-serif;
  background-color: #ee6043;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.current-user-paragraph {
  font-family: Monserat-semi-bold, sans-serif;
  margin-top: 8px;
  font-size: 18px;
}
.log-out-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ee6043;
  color: #fff;
  border: none;
  font-family: Monserat-medium, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.log-out-btn:hover {
  background-color: #e65032;
}
.nav-links .active {
  font-weight: bold;
}
.navbar-container-div-right li:hover {
  color: rgba(0, 0, 0, 0.6);
}
.navbar-container-div-right button:hover {
  background-color: #e65032;
}

.current-user-anchor {
  cursor: pointer;
  text-decoration: none;
}
