@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
.main-div-signUp-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Monserat-medium", sans-serif;
  margin-top: 10rem;
}
.center-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  max-width: 2000px;
}
