@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
.main-div-signUp-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Monserat-medium", sans-serif;
  margin-top: 4rem;
}
.center-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e4e7eb;
  align-items: center;
  border-radius: 2px;
  max-width: 450px;
}
.header-register {
  margin-bottom: 2rem;
}
.label-input-div {
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
}
.label-register {
  margin-bottom: 1rem;
}
.input-register {
  font-size: 16px;
  padding: 16px;
  border-style: solid;
  border-color: #222222;
  border-width: 1px 1px 1px 1px;
  color: #69727d;
}
input[type="email" i] {
  writing-mode: horizontal-tb !important;
  padding-block: 1px;
  padding-inline: 2px;
}
.pargraph-register {
  font-size: 16px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  color: #4d4d4d;
}
