@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
.main-subscribe-div {
  display: flex;
  justify-content: normal;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff7f6;
  margin-top: 8rem;
  width: 101%;
  height: 25rem;
}
.center-subscribe-div {
  display: flex;
  flex-direction: column;
  line-height: 2.3;
}
.header-subscribe {
  display: flex;
  font-size: 45px;
  margin-top: 5rem;
  font-family: Monserat-ligth, sans-serif;
}
.pargraph {
  font-family: Monserat-ligth, sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 10px;
  padding-top: 10px;
}
