@font-face {
  font-family: "Monserat-semi-bold";
  src: url("../assets/fonts/montserat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
.main-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 4rem;
}
.heading-services {
  display: flex;
  flex-direction: column;
  max-width: 2024px;
  margin-left: 6%;
  margin-right: 4%;
}
.heading-title {
  display: flex;
  margin-right: 54rem;
  font-size: 45px;
  font-family: Monserat-ligth, sans-serif;
}
.heading-container {
  display: flex;
  margin-bottom: 10px;
  max-width: 1200px;
  justify-content: start;
  margin: 0 auto;
}
.main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.card-container {
  flex: 0 1 calc(30% - 20px);
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
}
.img {
  width: 120%;
  object-fit: cover;
  margin-bottom: 20px;
}
.anchor {
  text-decoration: none;
  font-family: Monserat-medium, sans-serif;
  font-size: 18px;
  text-align: left;
  color: #212121;
}
.content-div-services {
  font-family: Monserat-ligth, sans-serif;
  color: #4d4d4d;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
.anchor-read-more {
  font-family: Monserat-regular, sans-serif;
  text-align: left;
  font-size: 14px;
  color: black;
}
