@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Monserat-ligth";
  src: url("../assets/fonts/montserat/Montserrat-Light.ttf");
}
.main-div-appointment-list {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 50%;
  margin: 0 auto;
  padding-top: 5rem;
  background-color: #fefefe;
  gap: 5rem;
  padding: 20px;
}
.user-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 30px;
  border-radius: 8px;
}
.welcome-page-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 30px;
  background-color: #fff7f6;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.appointment-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 10rem;
  padding: 30px;
  background-color: #fff7f6;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.category-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-message {
  color: #333;
  font-family: Monserat-medium, sans-serif;
}
.welcome-message-user {
  color: #0d6efd;
  font-family: Monserat-medium, sans-serif;
}
.welcome-message-user:hover {
  color: #0f54bd;
}
.appointments-list {
  margin-top: 20px;
}
.category-wrapper {
  margin-bottom: 3rem;
}
.appointment-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.no-appointments-message {
  font-size: 30px;
  font-family: Monserat-ligth, sans-serif;
}
.new-appointment-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ee6043;
  color: #fff;
  border: none;
  font-family: Monserat-medium, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.new-appointment-btn:hover {
  background-color: #e65032;
}
/* .appointments-list-container {
  border: 1px solid;

  border-color: #ffe4df;
  background-color: #fff7f6;
} */
.list-header {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1f1f1f;
}
.card-container-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
}
.appointment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background: linear-gradient(to right, #fff7f6);
  margin: 5px;
  background-color: #fff7f6;
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  cursor: pointer;
  animation: gradientAnimation 5s linear infinite;
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.appointment-card:hover {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: inset 0 0 0 3px #e65032; /* Inner border */
}
.card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: Monserat-medium, sans-serif;
  margin-bottom: 5px;
  color: #1f1f1f;
}
.card-time {
  font-size: 14px;
  color: #555;
  font-family: Monserat-ligth, sans-serif;
  margin-bottom: 10px;
}

.bellow-appointment-div {
  background-color: #fff7f6;
  width: 100px;
  height: 50px;
}
/* Add these styles to your CSS or within your component */
.appointments-list-container {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.appointments-list-container-h2-div {
  color: #1f1f1f;
}
.appointments-list-container-h2-div-h2 {
  color: #e65032;
  font-family: Monserat-medium, sans-serif;
}

.list-header-div {
  text-align: center;
  padding: 20px;
}

.card-container-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
/* 
.appointment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.appointment-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.no-appointments {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  color: #888;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-div {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.modal-actions {
  margin-top: 10px;
}

.modal-actions button {
  margin-right: 10px;
}

.delete-btn-modal {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  margin-left: 5px;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}
.delete-btn-modal:hover {
  background-color: #e6e6e6;
}

.close-btn {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  margin-left: 5px;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}
.close-btn:hover {
  background-color: #e6e6e6;
}
.service-icon {
  width: 30px;
  margin-left: 25px;
}
.appointment-details {
  display: flex;
  align-items: center;
  transition: background-colory 0.000001s, color 0.00001s, border-color 0.00001s;
}
.appointment-details-p-date {
  transition: background-colory 0.01s, color 0.0001s, border-color 0.1s;
}

.left-photo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-photo {
  width: 750px;
}

.appointment-details-h2 {
  color: #1f1f1f;
}
.appointment-details-p-title {
  color: #1f1f1f;
}
.appointment-details-p-date {
  color: #1f1f1f;
}
