@font-face {
  font-family: "Monserat-regular";
  src: url("../assets/fonts/montserat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Monserat-medium";
  src: url("../assets/fonts/montserat/Montserrat-Medium.ttf");
}
.user-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 30px;
  border-radius: 8px;
}
.welcome-page-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 30px;
  background-color: #fff7f6;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.appointment-item {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 10rem;
  padding: 30px;
  background-color: #fff7f6;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.category-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-message {
  color: #333;
}

.welcome-message-user {
  color: #0d6efd;
}
.welcome-message-user:hover {
  color: #0f54bd;
}
.appointments-list {
  margin-top: 20px;
}
.category-wrapper {
  margin-bottom: 3rem;
}
.appointment-item {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.no-appointments-message {
  font-size: 30px;
  font-family: Monserat-ligth, sans-serif;
}
.new-appointment-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ee6043;
  color: #fff;
  border: none;
  font-family: Monserat-medium, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.new-appointment-btn:hover {
  background-color: #e65032;
}
.appointments-list-container {
  max-width: 800px;
  margin: 0 auto;
}

.list-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.appointment-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 15px;
  width: calc(33.33% - 20px);
  transition: box-shadow 0.3s ease-in-out;
  box-sizing: border-box;
}

.appointment-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-time {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.no-appointments {
  font-size: 16px;
  color: #888;
}
